<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/style.css">
  {% block extraStyles %}{% endblock %}
</head>
<body>
<div class="container">
  {% include "components/header.html" %}

  <main>
    {% block content %}
    <!-- Page content will be inserted here -->
    {% endblock %}
  </main>

  {% include "components/footer.html" %}
</div>

{% block extraScripts %}{% endblock %}
</body>
</html>
