@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    min-height: 100%;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.dark body {
    background: #18181b; /* solid zinc-900 background */
    background-image: none; /* ensure no gradient in dark mode */
}

/* Remove firefox borders */
:focus {
    outline: none;
}

.cm-editor.cm-focused {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}
